.pagecss{

    display: grid;
       margin-top: 10px;
       grid-auto-flow: column;
       gap: 4%;
       padding: 5%;
 }
.PictureAndBio{

    display: flex;
    flex-direction: column;
    margin-right: 25%;
 }
 .pictureofthearticle{

    border-radius: 15%;

 }
.ThepictureandBody{
flex-direction: column;
display: flex;

}
.avatar{
     width: 9rem/* 208px */;
    height: 9rem/* 208px */;
    border-radius: 50%;
    margin-bottom: 15px;

}





.username_in_articlBody{
    display: none;


}






@media (max-width: 768px) {
        .avatar{
           display: none;


        }
        .username_in_articlBody{
            display: block;

        }
        .pagecss{
            grid-auto-flow: row;
            padding: 5px;
            padding-bottom: 20%;

        }
        
        .SubmittedBy{
            display: none;
        }
        .articlebody{
            font-size: 15px;
            font-weight: medium;


        }
  }